<!--  Replace menu links here -->

<li class="nav-item">
<!--<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>-->
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about-daddyblondlegs.html">About🕙</a>
</li>
<!--<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>-->
<li class="nav-item">
<a target="_blank" class="nav-link" href="{{site.baseurl}}/videos">Vids📹</a>
</li>
<li class="nav-item">
    <a target="_blank" class="nav-link fa" href="https://www.daddyblondlegs.com//world-tour.html"><span style="color: #acc5ff;"> </span><span style="color: #aeaeae;"></span> Tour</a>
</li>
<li class="nav-item">
    <a target="_blank" class="nav-link" href="{{site.baseurl}}/book.html">My Book📖</a>
    </li>
<li class="nav-item">
<!--<a target="_blank" class="nav-link" href="https://www.buymeacoffee.com/daddyblondlegs">Millenial Entitlement<i class="fa fa-coffee text-danger"></i></a>-->
</li>
